<!-- Template Name -->

<div container="row #left @middle">
  <label>Name</label>
  <input  type="text"
          ng-model="$ctrl.template.name"
          cn-click-select>
</div>

<!-- Elements -->

<div  container="row #left @middle">
  <label>Elements</label>
  <select ng-options="el as el.name for el in $ctrl.template.elements track by el.id"
          ng-model="$ctrl.element">
  </select>
</div>

<!-- Element Buttons -->

<div container="row #right @middle">
  <button ng-click="$ctrl.addElement()">Add Element</button>
</div>

<!-- Element Properties -->

<div class="element-properties">

  <!-- Element Name -->

  <div container="row #left @middle">
    <label>Name</label>
    <input  type="text"
            ng-model="$ctrl.element.name"
            cn-click-select>
    <button>x</button>
  </div>

  <!-- Element Style -->

  <div container="column #top @left">
    <label>Style</label>
    <textarea ng-model="$ctrl.style">
    </textarea>
  </div>
</div>

<div flex></div>

<div container="row #left @middle">
  <label>Scale</label>
  <input  type="range"
          min="1.5" max="3.5" step="0.01"
          ng-model="$ctrl.scale"
          ng-change="scale = $ctrl.scale">
</div>
