.FlixList {
  box-sizing: border-box;
  list-style-type: none;
  margin: 3vw 0;
  padding: 0;
  white-space: nowrap;
}

.FlixList li {
  cursor: pointer;
}

.title {
  font-size: 1.5vw;
  font-weight: bold;
  line-height: 1.3vw;
  vertical-align: bottom;
}

.list {
  margin: 0;
  padding: 0;
}
