:root {
  /* Sizes */
  --margin-tn: 0.25rem;
  --margin-sm: 0.5rem;
  --margin-md: 1rem;
  --margin-lg: 2rem;
  --padding-page: 4rem;
  --padding-y: 1.1rem;
  --radius-sm: 0.2rem;
  --radius-md: 0.4rem;
  --input-height: 2rem;
  --input-min-width: 11rem;
  --input-padding-y: 0.5rem;
  --input-padding-x: 0.8rem;
  --panel-padding-y: 0.75rem;
  --panel-padding-x: 0.8rem;
  --modal-padding: 1.5rem 2rem;

  /* Colors */
  --clr-black-10: rgba(0, 0, 0, 0.1);
  --clr-black-70: rgba(0, 0, 0, 0.7);
  --clr-blue: rgb(12, 64, 124);
  --clr-dark-blue: rgb(6, 31, 60);
  --clr-gray: rgb(128, 128, 128);
  --clr-green-50: rgb(29, 188, 96, 0.5);
  --clr-green: rgb(29, 188, 96);
  --clr-off-white: rgb(240, 240, 240);
  --clr-red-50: rgb(231, 76, 60, 0.5);
  --clr-red: rgb(231, 76, 60);
  --clr-white-10: rgba(250, 250, 250, 0.1);
  --clr-white-90: rgba(250, 250, 250, 0.9);
  --clr-white: rgba(250, 250, 250);

  --clr-accent: rgb(255, 178, 0);
  --clr-alert-hover: var(--clr-red);
  --clr-alert: var(--clr-red-50);
  --clr-bg-card: var(--clr-white-90);
  --clr-bg-dark: rgba(24, 24, 24, 0.5);
  --clr-input-bg-hover: rgb(12, 64, 124);
  --clr-input-bg: rgb(12, 64, 124, 0.5);
  --clr-input: var(--clr-white-90);
  --clr-menu-bg: var(--clr-dark-blue);
  --clr-modal-light: var(--clr-off-white);
  --clr-save-hover: var(--clr-green);
  --clr-save: var(--clr-green-50);
  --clr-svg-fill: var(--clr-white-90);
  --clr-text-darker: rgba(24, 24, 24, 0.9);
  --clr-text-dark: rgba(32, 32, 32, 0.9);
  --clr-text-light: var(--clr-white);
  /* rgb(18, 73, 136, 0.4); */

  /* Complex */
  --border-light: 1px solid var(--clr-white-10);
  --border-dark: 1px solid var(--clr-black-10);
  --border-bright: 1px solid var(--clr-white-90);
  --box-shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.3),
    0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 2px 1px -1px rgba(0, 0, 0, 0.22);
  --box-shadow-md: 0 8px 15px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --box-shadow-lg: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
    0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  --text-shadow-sm: 1px 1px 2px rgba(0, 0, 0, 0.5);

  /* Others */
  --res: 100;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1565c0;
  background: radial-gradient(
    circle at center center,
    #1565c0 10%,
    #0c407c 100%
  );
  color: #eee;
  display: block;
  font-family: 'Helvetica Neue', 'Open Sans', 'Sans', arial, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
}

body > div {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: var(--margin-sm);
  margin-top: 0;
}
