editor
  $background = rgba(35, 35, 35, 0.95)
  $light-background = rgba(255, 255, 255, 0.15)

  background-color $background
  border-radius 10px
  box-sizing border-box
  color white
  display block
  font-size 16px
  margin 70px 0 70px 5vw
  padding 8px 20px 8px 20px
  width 330px

  button
    background-color rgb(15, 70, 130)
    border-radius 5px
    margin 15px 0
    width 120px
    transition box-shadow, transform 0.1s linear

    &:hover, &:focus
      box-shadow 2px 2px 8px 4px rgba(0, 0, 0, 0.2)
      transform translate(0, -1px)
      transition box-shadow, transform 0.1s linear

    &:active
      background-color rgb(11, 56, 105)
      box-shadow 1px 1px 6px 4px rgba(0, 0, 0, 0.2)
      transform translate(0, 0)
      transition box-shadow, transform 0s linear

  input, select, textarea
    background-color rgba(255, 255, 255, 0.1)
    border-style none
    border-radius 3px 3px 0 0
    border-bottom solid 2px rgb(15, 70, 130)
    box-shadow none
    box-sizing border-box
    color rgb(220, 220, 220)
    font-size 18px
    height 33px
    line-height 1.6em
    margin 10px 0
    padding 5px 8px
    transition 0.1s linear background-color, color
    width 195px

    &:focus
      background-color rgba(255, 255, 255, 0.9)
      border-style none
      color rgb(40, 40, 40)
      outline none
      transition 0.3s linear background-color, color

  label
    width 95px

  textarea
    min-height 300px
    resize none

  .hint
    font-family 'Sans'
    text-align center
    margin 5px 0 10px

  .properties
    background-color $light-background
    // box-shadow inset 0px 8px 15px -8px rgba(0, 0, 0, 0.75)
    margin 10px -20px 0
    padding 8px 20px

    input, textarea
      margin-left 25px
      width 255px

  .title
    border-bottom 1px solid rgba(255, 255, 255, 0.1)
    margin 10px 0 5px
    padding-bottom 10px
    text-align center
    text-transform uppercase

  .tabs
    background-color $light-background
    height 50px
    margin 10px 0 -10px -20px
    width 330px

    div
      width 50%
      user-select none

      &:first-child
        height 100%

    .tab-label
      background-color $background
      cursor pointer
      height 100%
