<!-- Template Editor -->

<div class="title">Template Editor</div>

<!-- Template Name -->

<div container="row #left @middle">
  <label>Name</label>
  <input  type="text"
          ng-model="$ctrl.template.name"
          cn-click-select>
</div>

<!-- Element / Data Tabs -->

<div class="tabs" container="row #spaced @middle">

  <div  container="row #center @middle"
        ng-class="{ 'tab-label': $ctrl.mode !== 'element' }"
        ng-click="$ctrl.mode = 'element'">
    Elements
  </div>

  <div  container="row #center @middle"
        ng-class="{ 'tab-label': $ctrl.mode !== 'data' }"
        ng-click="$ctrl.mode = 'data'">
    Data
  </div>

</div>

<!-- Element Properties Tab -->

<div class="properties" ng-if="$ctrl.mode === 'element'">

  <!-- Element Buttons -->

  <div container="row #spaced @middle">
    <button ng-click="$ctrl.addElement()">Add</button>
    <button ng-if="$ctrl.element"
            ng-click="$ctrl.deleteElement()">
      Delete
    </button>
  </div>

  <!-- Element Name -->

  <div  container="column #top @left"
        ng-if="$ctrl.element">
    <label>Name</label>
    <input  type="text"
            ng-model="$ctrl.element.name"
            cn-click-select>
  </div>

  <!-- Element Style -->

  <div  container="column #top @left"
        ng-if="$ctrl.element">
    <label>Style</label>
    <textarea ng-model="$ctrl.style"></textarea>
  </div>
</div>

<div flex></div>

<!-- Live Preview Scale -->

<div container="row #left @middle">
  <label>Scale</label>
  <input  type="range"
          min="1.5" max="3.5" step="0.01"
          ng-model="$ctrl.scale"
          ng-change="scale = $ctrl.scale">
</div>
