.GameItem {
  background-color: var(--clr-card-bg);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-md);
  color: var(--clr-text-dark);
  cursor: pointer;
  display: flex;
  height: 8rem;
  margin: 0 0 1.2rem;
}

.GameItem:hover dt {
  text-decoration: underline;
}

.GameItem figure {
  align-items: center;
  border: var(--border-light);
  display: flex;
  justify-content: center;
  margin: 1rem 2rem 1rem 1rem;
  min-width: 10rem;
}
