.file-manager-wrapper
  align-items center
  background-color rgba(0, 0, 0, 0.5)
  display flex
  height 100vh
  justify-content center
  left 0
  position absolute
  top 0
  width 100vw
  z-index 200

  // Blur any div following the file manager
  & + div
    filter blur(4px)

.file-manager
  background-color white
  border-radius 10px
  box-shadow  0 11px 15px -7px rgba(0, 0, 0, 0.2),
              0 24px 38px 3px rgba(0, 0, 0, 0.14),
              0 9px 46px 8px rgba(0, 0, 0, 0.12)
  height 500px
  padding 20px
  width 400px

.file-manager-drop
  background-color rgba(0, 0, 0, 0.4)
  border-radius 10px
  color rgb(255, 255, 255)
  font-size 24px
