.ElementModifier {
  align-items: center;
  border-radius: var(--radius-sm);
  border: 1px dotted var(--clr-accent);
  color: #111;
  display: flex;
  justify-content: center;
  position: absolute;
  user-select: none;
  z-index: 101;
}
