.side-bar
  background-color rgba(black, 50%)
  position static
  max-width 272px
  min-width 272px
  width 272px

.bar-title
  color #ffffff
  border-bottom 1px solid rgba(white, 25%)
  font-family 'Open Sans'
  font-size 40px
  line-height 32px
  padding 25px 0
  text-align center
