.editor-section
  border-bottom 1px solid rgba(white, 25%)
  color #ffffff
  padding 20px

  label
    font-size x-small
    margin-bottom 15px
    text-transform uppercase

.editor-select
  input, select, textarea
    background-color rgba(255, 255, 255, 0.9)
    border-radius 3px
    border-style 1px solid rgb(40, 40, 40)
    box-shadow none
    box-sizing border-box
    color rgb(40, 40, 40)
    font-size 18px
    height 33px
    line-height 25px
    padding 5px 8px
    width 100%

  select
    -webkit-appearance none

  &:after
    color rgb(40, 40, 40)
    content '\e901'
    font-family 'icomoon'
    font-size x-large
    position absolute
    margin-top 5px
    margin-left -30px
