card
  $res = 100
  position relative
  height "calc(3.5px * %s)" % $res
  width "calc(2.5px * %s)" % $res
  background-color #ffffff
  border-radius "calc(0.13px * %s)" % $res
  box-shadow  0 11px 15px -7px rgba(0, 0, 0, 0.2),
              0 24px 38px 3px rgba(0, 0, 0, 0.14),
              0 9px 46px 8px rgba(0, 0, 0, 0.12)
  z-index 100

  element
    display block
    font-size 0.75em
    line-height 23px
    position absolute
    white-space nowrap

    &.editing
      outline 1px dashed rgba(0, 0, 0, 0.3)
      cursor pointer

    &.selected
      animation pulse 0.6s infinite alternate

@keyframes pulse
  0%
    box-shadow 0 0 0 2px rgba(21, 101, 192, 0.3)

  80%
    box-shadow 0 0 0 1px rgba(21, 101, 192, 0.8)

  100%
    box-shadow: 0 0 0 1px rgba(21, 101, 192, 0.8)
