<section layout="row" flex>

  <!-- Card Preview -->

  <md-content flex>
  </md-content>

  <!-- Rigth Bar -->

  <md-sidenav class="md-sidenav-right md-whiteframe-z2"
              md-is-locked-open="$mdMedia('gt-md')"
              md-component-id="right">

    <!-- Template Properties -->

    <div  class="nav-section-title"
          ng-click="vm.menu = 'properties'">
      Properties
    </div>

    <md-content ng-if="vm.menu === 'properties'"
                layout="column"
                class="nav-section">

      <!-- Template Name -->

      <md-input-container>
        <label>Name</label>
        <input  type="text"
        ng-model="vm.template.name">
      </md-input-container>

      <!-- Template ID -->

      <md-input-container>
        <label>id</label>
        <input  type="text" disabled
                ng-model="vm.template._id">
      </md-input-container>

      <md-button  class="md-raised md-warn"
                  ng-click="vm.deleteTemplate(vm.template)">
          Delete
      </md-button>
    </md-content>

    <!-- Template Layout -->

    <div  class="nav-section-title"
          ng-click="vm.menu = 'layout'">
      Layout
    </div>

    <md-content ng-if="vm.menu === 'layout'"
                class="nav-section">

    </md-content>

  </md-sidenav>
</section>
