.activity header
  background-color alpha(#1b232e, 0.7)
  border-radius 5px
  height 50px
  padding 0

  h1
    font-weight 300
    line-height 0.8em
    margin 12px 20px 14px

  input
    background-color transparent
    border none
    border-bottom 1px solid #999
    color inherit
    font-size 20px
    height 32px
    margin-right 15px
    outline none
    padding 0 4px

  button.edge-button
    background-color #1565c0
    border none
    border-radius 0 5px 5px 0;
    color inherit
    cursor pointer
    font-size 2em
    height 50px
    line-height 1em
    margin-left 10px
    width 46px

  .hint
    margin-right 25px
    line-height 14px
    color #666

.info-well
  background-color alpha(#000, 0.4)
  border-radius 5px
  font-size 1.1rem
  margin-top 50px
  padding 30px 50px
  text-align center
  width 400px
