.page {
  background: radial-gradient(
    circle at center 10%,
    #ffffff 40%,
    #93bdec 80%,
    #4c85c5 100%
  );
  height: 100%;
  padding-top: 9rem;
  text-align: center;
}

.page h1 {
  font-size: 24px;
  margin-bottom: 4rem;
}

.page h3 {
  font-size: 90px;
  line-height: 95px;
  margin: 0 auto 3rem;
  max-width: 900px;
}

.page p {
  font-size: 28px;
  margin: 0 auto 3rem;
  max-width: 700px;
}
