.home {
  background: radial-gradient(
    circle at center 10%,
    #ffffff 40%,
    #93bdec 80%,
    #4c85c5 100%
  );
  height: 100%;
  padding-top: 9rem;
  text-align: center;

  h1 {
    font-size: 24px;
    margin-bottom: 3rem;
  }

  h3 {
    font-size: 90px;
    line-height: 95px;
    margin: 0 auto 3rem;
    max-width: 900px;
  }

  p {
    font-size: 28px;
    margin: 0 auto 3rem;
    max-width: 700px;
  }
}

.main {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1565c0;
  background: radial-gradient(
    circle at center center,
    #1565c0 10%,
    #0c407c 100%
  );
  height: 100%;
}

.signup {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
