.assets
  height 550px
  width 700px

  > span > button.primary
    margin-right 20px

.assets-list
  background gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(#fff))
  flex-wrap wrap
  overflow-y auto
  margin-bottom 10px
  padding 30px 0 30px 50px

.assets-toolbar
  padding 0 30px 13px
  border-bottom 1px solid #eee

  input
    margin-right 15px

  .hint
    margin-right 25px
    line-height 14px
    color #666

.asset-tile
  border-radius 10px
  height 120px
  margin-bottom 10px
  margin-right 40px
  width 120px

  .image-contianer
    border-radius 10px
    max-height 80px
    overflow hidden

    img
      display block
      width 100%

.asset-name
  overflow hidden
  white-space nowrap
  margin 6px 0
  text-overflow ellipsis
