.assets.modal-content
  height 500px
  width 700px
  padding 30px 60px

.asset-tile
  border-radius 10px
  height 120px
  width 120px

  .image-contianer
    border-radius 10px
    max-height 80px
    overflow hidden

    img
      display block
      width 100%

.asset-tile + .asset-tile
  margin-left 20px

.asset-name
  overflow hidden
  white-space nowrap
  margin 6px 0
  text-overflow ellipsis
