:root {
  /* Sizes */
  --g-margin-sm: 0.5rem;
  --g-margin-md: 1rem;
  --g-margin-lg: 2rem;
  --g-padding-page-top: 4rem;
  --g-padding-vertical: 1.1rem;
  --g-padding-horizontal: 4%;
  --radius-sm: 0.2rem;
  --radius-md: 0.4rem;
  --input-height: 2rem;
  --input-min-width: 12rem;
  --input-padding-vertical: 0.5rem;
  --input-padding-horizontal: 0.8rem;
  --panel-padding-vertical: 0.75rem;
  --panel-padding-horizontal: 0.8rem;

  /* Colors */
  --clr-white: rgba(250, 250, 250, 0.9);

  --clr-accent: rgb(255, 178, 0);
  --clr-bg-card: var(--clr-white);
  --clr-bg-dark: rgba(24, 24, 24, 0.5);
  --clr-text-dark: rgba(24, 24, 24, 0.9);
  --clr-text-light: rgba(32, 32, 32, 0.9);
  --clr-input: var(--clr-white);
  --clr-input-bg-hover: rgb(12, 64, 124, 0.6);
  --clr-svg-fill: var(--clr-white);
  /* rgb(18, 73, 136, 0.4); */

  /* Complex */
  --border-light: 1px solid rgba(0, 0, 0, 0.1);
  --box-shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.3),
    0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 2px 1px -1px rgba(0, 0, 0, 0.22);
  --box-shadow-md: 0 8px 15px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --box-shadow-lg: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
    0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  --text-shadow-sm: 1px 1px 2px rgba(0, 0, 0, 0.5);

  /* Others */
  --res: 100;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1565c0;
  background: radial-gradient(
    circle at center center,
    #1565c0 10%,
    #0c407c 100%
  );
  color: #eee;
  display: block;
  font-family: 'Helvetica Neue', 'Open Sans', 'Sans', arial, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: var(--g-margin-sm);
  margin-top: 0;
}

#app {
  height: 100%;
}

.fullPage,
.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  width: 100vw;
  z-index: 1;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.inputContainer label {
  margin-right: var(--g-margin-md);
}

.item {
  -webkit-user-select: none;
  box-shadow: var(--box-shadow-sm);
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: box-shadow 0.2s, transform 0.2s;
}

a.item {
  color: black;
  text-decoration-line: none;
}

a.item:hover {
  box-shadow: var(--box-shadow-md);
}

.page {
  margin: var(--g-padding-vertical) auto;
  padding: var(--g-padding-page-top) calc((100vw - 800px) / 2) 32px;
}

.title {
  position: absolute;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 0;
  padding-left: var(--g-padding-horizontal);
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  top: var(--g-padding-vertical);
}
