.sidebar
  background-color rgba(black, 50%)
  font-family 'Open Sans'
  max-width 272px
  min-width 272px
  position static
  width 272px

.sidebar-title
  border-bottom 1px solid rgba(white, 20%)
  color #ffffff
  font-size 40px
  text-decoration none
  line-height 42px
  padding 20px 0
  text-align center

.sidebar-tabs
  border-bottom 1px solid rgba(white, 25%)
  height 42px

  button
    background-color inherit
    border none
    color #ffffff
    font-family inherit
    font-size 14px
    height 100%
    cursor pointer
    user-select none
    outline none

    &.active
      border-bottom 2px solid rgba(white, 75%)
      margin-bottom -2px

