.sidebar
  background-color rgba(#000000, 50%)
  font-family 'Open Sans'
  max-width 272px
  min-width 272px
  position static
  width 272px

.sidebar-title
  border-bottom 1px solid rgba(#ffffff, 20%)
  color #ffffff
  font-size 40px
  text-decoration none
  line-height 42px
  padding 20px 0
  text-align center

  /* Card Style Title */
  // background-color rgba(255, 255, 255, 0.9)
  // border-bottom none
  // border-radius 13px
  // color #031f41
  // font-weight 900
  // padding 15px 0
  // margin 20px 40px 5px

.sidebar-tab
  color #ffffff

.sidebar-tabs
  border-bottom 1px solid rgba(#ffffff, 25%)
  height 42px

  button
    background-color inherit
    border none
    color #ffffff
    font-family inherit
    font-size 14px
    height 100%
    cursor pointer
    user-select none
    outline none

    &.active
      border-bottom 2px solid rgba(#ffffff, 75%)
      margin-bottom -2px

.sidebar-section-title
  height 44px
  padding 0 20px

  > *
    align-content center

  label
    text-transform uppercase

  i
    margin-left 15px


    &.clean
      color rgba(#ffffff, 15%)

.sidebar-list-item, .sidebar-property
  background-color #204070
  border-bottom solid 1px #204070
  color darken(#ffffff, 20%)
  height 42px
  padding 0

  &.large
    height unset
    line-height 42px

.sidebar-list-item
  label
    cursor inherit
    line-height 12px
    padding-left 20px

  i
    width 28px

    &.element-type
      font-size 2rem
      background-color rgba(0, 0, 0, 0.3)
      height inherit
      margin-right 15px
      width 42px
      line-height 2.7rem
      text-align center

    &.icon-text.element-type
      font-size 1.4rem

    &.icon-text.element-type:after
      content ''
      position absolute
      width 1.75rem
      height 1.75rem
      border 3px solid darken(#ffffff, 20%)
      border-radius 0.2rem
      margin-top 0.45rem
      margin-left -1.6rem

    &.icon-text.element-type.dynamic:after
      border-style dashed
      border-width 4px

    &.action
      display none

  &:hover i.action
    display inline-block

  input
    background-color rgba(255, 255, 255, 0.8)
    border-bottom solid 2px rgb(15, 70, 130)
    border-radius 3px
    border-style none
    font-size 1rem
    font-family "Open Sans"
    line-height 20px
    margin 1px 10px 0 -6px
    padding 2px 6px
    transition background-color 1s

  &.selected
    background-color #daa520
    color rgb(34, 34, 34)
    font-weight 600

    i.icon-text.element-type:after
      border 3px solid rgb(34, 34, 34)

    i.icon-text.element-type.dynamic:after
      border-style dashed
      border-width 4px

.sidebar-property
  button
    margin-left 20px

  label
    overflow-x hidden
    padding 0 20px
    text-overflow ellipsis
    white-space nowrap
    width 40%

  textarea
    margin-left 1.4rem
    height 5rem

  input, select
    background-color rgba(255,255,255,0.9)
    border-style none
    font-family "Open Sans"
    font-size 1rem
    height 100%
    line-height 20px
    padding 0 10px
    width 60%

  input[type="checkbox"]
    margin 0
    padding 0
    width 0

    &:before
      background-color rgba(#ffffff, 20%)
      border-left 36px solid darken(#ffffff, 20%)
      content ''
      cursor pointer
      height 36px
      margin-left -72px
      position absolute
      width 72px

    &[value=true]:before
      background-color rgba(#daa520, 20%)
      border-left none
      border-right 36px solid #daa520

  input[type="number"]
    text-align right

  input[type="range"]
    margin-right 10px
