action-bar
  bottom 0
  box-sizing border-box
  color #ffffff
  font-size 22px
  height 70px
  padding-left 55px
  position absolute
  width 100vw
  z-index 1

  span
    color #da8220
    cursor pointer
    background-color rgb(10, 40, 80)
    border-radius 8px
    padding 7px 14px
    text-decoration none
    -webkit-user-select none

    &:active
      background-color rgba(0, 0, 0, 0.1)
