@import 'components/**/*'

/* Master Style */

html
  box-sizing border-box

*, *:before, *:after
  box-sizing inherit
  font-family inherit

body, html, main
  color #eee
  height 100%
  margin 0
  width 100%

body
  background-color #1565c0
  background radial-gradient(circle at center center, #1565c0 10%, #0c407c 100%)
  display flex
  font-family 'Open Sans', 'Sans', sans-serif

main
  display flex

a
  color lighten(#1565c0, 30%)
  text-decoration none

.link-button
  background-color transparent
  border none
  color lighten(#1565c0, 30%)
  cursor pointer
  display inline
  font-size inherit
  margin 0
  padding 0

.link-buttonhover,
.link-buttonfocus
  text-decoration none

label
  user-select none

table
  border-collapse collapse
  border-spacing 0
  table-layout fixed
  width 100%

thead tr
  background-color #e0e0e0

tbody tr
  background-color #fff

tr
  border 1px solid #cbcbcb

th, td
  color #777
  overflow hidden
  padding 0.4rem 0.8rem
  text-overflow ellipsis
  white-space nowrap

th
  color #333

.app-title
  color #fff
  font-size 40px
  padding 25px 58.5px
  line-height 32px
  text-shadow 0px 3px 6px rgba(0, 0, 0, 0.6)

.page-title, .list-title
  font-size 25px
  padding-bottom 10px
  text-shadow 0 0 6px rgba(0, 0, 0, 0.6)

  span
    flex-grow 1
    text-align center

.list-title
  font-size 20px
  padding 10px 0

.page
  height calc(100vh - 72px)
  margin 0 100px

.list
  flex-wrap wrap
  overflow-y scroll
  margin 0 -30px
  padding 15px 30px 25px

.modal-wrapper
  align-items center
  background-color rgba(0, 0, 0, 0.5)
  display flex
  height 100vh
  justify-content center
  left 0
  position absolute
  top 0
  width 100vw
  z-index 200

  // Blur any div following the file manager
  & + div
    filter blur(4px)

.modal-content
  background-color white
  border-radius 10px
  box-shadow  0 11px 15px -7px rgba(0, 0, 0, 0.2),
              0 24px 38px 3px rgba(0, 0, 0, 0.14),
              0 9px 46px 8px rgba(0, 0, 0, 0.12)
  display flex
  flex-direction column
  padding-bottom 10px
  margin-top 15px

  h1
    background-color #eee
    border-radius 10px 10px 0 0
    color #444
    font-size 24px
    margin 0 0 10px
    padding 15px 20px
    text-align center
    width 100%

  > label
    margin 10px 20px 0
    color #666

  > input
    margin 10px 20px

  input
    border none
    border-bottom 2px solid #eee
    font-size 20px
    height 32px
    outline none
    padding 0 4px

  > span > button
    margin 10px 0
    padding 0 16px

  button
    background-color transparent
    border none
    border-radius 3px
    color #666
    position relative
    height 36px
    min-width 64px
    font-size 14px
    font-weight 600
    text-transform uppercase
    outline none
    cursor pointer
    text-align center
    line-height 36px

    &.primary
      background-color #1565c0
      box-shadow 0 2px 2px 0 rgba(0, 0, 0, .14),
            0 3px 1px -2px rgba(0, 0, 0, .2),
            0 1px 5px 0 rgba(0, 0, 0, .12)

      color #fff

  & .modal-footer
    padding 0 20px

::-webkit-scrollbar
  width 10px
  height 10px

::-webkit-scrollbar-track
  border-radius 10px
  background rgba(0, 0, 0, 0)

::-webkit-scrollbar-thumb
  border-radius 10px
  background rgba(0, 0, 0, 0.4)



/* Layout */

[container]
  display flex

[container^="row"]
  flex-direction row

[container^="column"]
  flex-direction column

[container~="#left"], [container~="#top"]
  justify-content flex-start

[container~="#center"], [container~="#middle"]
  justify-content center

[container~="#right"], [container~="#bottom"]
  justify-content flex-end

[container~="#spread"]
  justify-content space-between

[container~="#spaced"]
  justify-content space-around

[container~="@left"], [container~="@top"]
  align-items flex-start

[container~="@center"], [container~="@middle"]
  align-items center

[container~="@right"], [container~="@bottom"]
  align-items flex-end

[container~="@stretch"]
  align-items stretch

[container~="@baseline"]
  align-items baseline

[flex]
  flex 1



/* Partials */

.half-width
  width 50%

.two-thirds-width
  width 66%

.one-third-width
  width 34%

.item
  box-shadow 0 1px 3px 0 rgba(0, 0, 0, 0.3),
             0 1px 1px 0 rgba(0, 0, 0, 0.24),
             0 2px 1px -1px rgba(0, 0, 0, 0.22)
  cursor pointer
  font-size 20px
  margin 8px
  text-align center
  transition box-shadow 0.2s, transform 0.2s
  -webkit-user-select none

  a&
    color black
    text-decoration-line none

  &:hover
    box-shadow 0 6px 6px -3px rgba(0, 0, 0, 0.3),
               0 10px 14px 1px rgba(0, 0, 0, 0.24),
               0 4px 18px 3px rgba(0, 0, 0, 0.22)

.clickable
  cursor pointer
