.IconButton {
  border-radius: var(--radius-sm);
  cursor: pointer;
  fill: var(--clr-svg-fill);
  height: 42px;
  width: 42px;
}

svg.IconButton + svg.IconButton {
  margin-left: var(--g-margin-sm);
}

svg.IconButton:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
