/* Regular */
@font-face {
    font-family: 'Open Sans';
    src: url('/assets/fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('/assets/fonts/Aileron-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}