.template-item
  background-color rgba(255, 255, 255, 0.4)
  border 3px dashed rgba(0, 0, 0, 0.6)
  border-radius 10px
  flex 0 0 calc(200px * 0.71429)
  height 200px
  padding 15px

  &:hover
    transform scale(1.1, 1.1)
